<style>
  .grid__item.medium-up--three-fifths.product-single__sticky.imgdpk {
    display: none;
}
  .variant-input-wrap label.disabled {
    color: #000;
}
  @media only screen and (min-width: 480px){
  .custom-product-image {
    min-height: 650px;
}
  }
  @media only screen and (max-width: 769px){
        .fisrt-div--2 {
    display: block;
}
        .fisrt-div--1 {
    display: none;
}
  }
@media only screen and (min-width: 769px){
    /* .fisrt-div--2 {
    display: none;
}
      .fisrt-div--1 {
    display: block;
}
.medium-up--two-fifths {
    float: right;
}
 .custom-product-main-section {
    position: relative;
}
.page-content.page-content--product {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
}
.custom-product-image {
    position: relative;
}

.medium-up--two-fifths {
    width: 65%;
  min-width: 450px;
} */

    .fisrt-div--2 {
    display: none;
}
      .fisrt-div--1 {
    display: block;
}
.medium-up--two-fifths {
    float: right;
}
 .custom-product-main-section {
    position: relative;
}
.page-content.page-content--product {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    width: 100%
}
.custom-product-image {
    position: relative;
}
.page-content.page-content--product .page-width {
    width: 45%;
    float: right;
}
.medium-up--two-fifths {
    width: 100%;
    min-width: 450px;
} 
  }
@media (max-width: 1199px){
.template-product .product-single__title {
    font-size: 28px;
}
}
@media only screen and (max-width: 769px){
h1.h2.product-single__title {
    font-size: 26px;
    line-height: 1.5;
}
  /* .whatsinclude-and-specification {
        display: flex !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    column-gap: 3rem !important;
    align-items: baseline;
    row-gap: 2rem;
} */
  }
@media only screen and (max-width: 380px){
figure.table {
    margin: 0;
}
figure.table td, th {
    padding: 5px 5px;
}
}

.product-section.new-product-section .grid__item.medium-up--three-fifths {
    width: 100%;
}
.product-section.new-product-section .grid__item.medium-up--three-fifths .product__thumbs {
    display: none;
}

  .new-product-section .page-content.page-content--product {
    position: initial;
}
[data-center-text=true] .variant-input-wrap label {
    margin: 0 8px 12px;
    margin-left: 0;
}
.background-media-text__inner_new .pro_left, .background-media-text__inner_new .pro_right {
    background-color: #0000005c;
    padding: 10px;
    border-radius: 10px;
}



  @media only screen and (max-width:600px){
     .whatsinclude-and-specification {
    display:block !important;
   
}
    .whatsinclude-and-specification .table{
    overflow:scroll !important;
  }
  }
  

  .whatsinclude-and-specification {
    /* display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 3rem; */
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:5rem;
}

  .whatsinclude-content h1, h2 {
    font-size: 20px;
}
    .features-content h1, h2 {
    font-size: 20px;
}
    .specification-content h1, h2 {
    font-size: 20px;
}
    .dimention-content h1, h2 {
    font-size: 20px;
}
  .features-content figure.table td{
    color: white;
    background:transparent !important;
  }

.specification-content figure.table td{
   color: white;
    background:transparent !important;
}
  

 .whatsinclude-and-specification figure.table {
    margin-left: 0;
}
   .whatsinclude-and-specification figure.image {
    margin-left: 0;
}
.whatsinclude-and-specification figure.table tr td {
    border-bottom: 1px solid #efefef57 !important;
}
  .whatsinclude-and-specification h1 {
    margin-bottom: 2rem;
}
  
  .specification-content #pills-profile2 td {
    border-bottom: 0.5px solid #9E9E9E !important;
} 
  
  
.whatsinclude-and-specification .specification, .whatsinclude-and-specification .whatsinclude {
    width: 100%;
}
 .whatsinclude-and-specification .specification #pills-profile2 td {
    border-bottom: 0.5px solid #9E9E9E !important;
} 
.whatsinclude-and-specification h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
#pills-profile2 table, #pills-profile2 td, #pills-profile2 th, .new-table td, .new-table th {
    border: none;
} 
.whatsinclude-content h3:nth-child(1) {
    display: none;
}
.dpkv video {
 
    width: 100%;
    border-radius: 5px;
}
</style>

{%- liquid
  assign isModal = false
  if template == 'product.modal'
    assign isModal = true
  endif
-%}

{%- render 'product-variant-thumb',
  product: product,
  section_id: section.id,
  blocks: section.blocks,
  image_position: section.settings.image_position,
  image_container_width: section.settings.image_size,
  product_zoom_enable: section.settings.product_zoom_enable,
  sku_enable: section.settings.sku_enable,
  isModal: isModal,
  thumbnail_position: section.settings.thumbnail_position,
  thumbnail_height: section.settings.thumbnail_height,
  thumbnail_arrows: section.settings.thumbnail_arrows,
  mobile_layout: section.settings.mobile_layout,
  video_looping: section.settings.enable_video_looping,
  video_style: section.settings.product_video_style,
  context: 'product-long',
-%}


<div class="pro_meta_description product-template-for-long {% if section.settings.seaprateimgtext_enable %} seaprateimgtext_enable {% endif %}">

   {% comment %}<div class="container">
      <p>
        <iframe
          class="custom-tube"
          title="Video player"
          src="https://cdn.shopify.com/videos/c/o/v/0c34b45e332f451180ebe5b269cfa859.mp4"
          height="720"
          width="1280"
          allowfullscreen=""
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          frameborder="0"></iframe><br></p>
    </div>{% endcomment %}




{% if product.metafields.custom.promotion_banner_product != blank %}
  <div class="custom-product-main-section-promo">
   <div class="custom-product-image-promo">
    {% for product_main_images in product.metafields.custom.promotion_banner_product.value %}
      <div class=" {{ product_main_images.type }}">
          <img class="" src="{{ product_main_images | img_url: 'master' }}">
      </div>
     {% endfor %}
   </div>
  </div>
{% endif %}

{% if product.metafields.custom.image_for_section_1 != blank or product.metafields.custom.content_for_section_1 != blank %}
  <div class="images-bg">
    <div class="container">
      <div style="text-align:center;">
        {{ product.metafields.custom.content_for_section_1 }}
      </div>
      {% if product.metafields.custom.image_for_section_1 != blank %}
         <img src=" {{ product.metafields.custom.image_for_section_1 | img_url:"master" }}"> 
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if product.metafields.custom.product_gif_image != blank %}
  <div class="custom-product-main-section-promo">
   <div class="custom-product-image-promo">
      <div class=" {{ product_main_images.type }}">
          <img class="" src="{{ product.metafields.custom.product_gif_image | img_url: 'master' }}">
      </div>
   </div>
  </div>
{% endif %}
  
{% if product.metafields.custom.image_for_sectioin_2 != blank or product.metafields.custom.content_for_section_2 != blank %}
<div id="bg-section-2" class="bg_images_section full-height full-image-section">
  <div class="background-media-text__container_new">
      <img src="{{ product.metafields.custom.image_for_sectioin_2 | img_url:"master"  }}">
  </div> 
    <div class="background-media-text__inner_new">
      {{ product.metafields.custom.content_for_section_2 }}
    </div>
</div>
{% endif %}
  


{% if product.metafields.custom.image_for_section_3!= blank or product.metafields.custom.content_for_section_3 != blank %}
<div id="bg-section-4"  class="bg_images_section full-height full-image-section">
  <div class="background-media-text__container_new">
    <img src=" {{ product.metafields.custom.image_for_section_3| img_url:"master" }}"> 
   </div>
    <div class="background-media-text__inner_new">
      <div class="background-media-text__aligner background-media-text--left">
        <div class="animation-cropper">
          <div class="animation-contents">
         {{ product.metafields.custom.content_for_section_3 }}
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}

{% if product.metafields.custom.image_for_section_4!= blank or product.metafields.custom.content_for_section_4 != blank %}
<div id="bg-section-5"  class="bg_images_section full-height full-image-section">
  <div class="background-media-text__container_new">
      <img src=" {{  product.metafields.custom.image_for_section_4| img_url:"master" }}"> 
  </div> 
    <div class="background-media-text__inner_new">
      {{ product.metafields.custom.content_for_section_4 }}
    </div>
</div>
{% endif %}

{% if product.metafields.custom._image_for_section_5 != blank or product.metafields.custom.content_for_section_5 != blank %}
<div id="bg-section-6"  class="bg_images_section full-height full-image-section">
<div class="background-media-text__container_new">
    <img src=" {{ product.metafields.custom._image_for_section_5 | img_url:"master" }}"> 
   </div>
    <div class="background-media-text__inner_new">
      <div class="background-media-text__aligner background-media-text--left">
        <div class="animation-cropper">
          <div class="animation-contents">
         {{ product.metafields.custom.content_for_section_5 }}
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}

{% if product.metafields.custom._image_for_section_6 != blank or product.metafields.custom.content_for_section_6 != blank %}
<div id="bg-section-7"  class="bg_images_section full-height full-image-section">
 <div class="background-media-text__container_new">
      <img src="{{ product.metafields.custom._image_for_section_6 | img_url:"master"  }}">
  </div> 
    <div class="background-media-text__inner_new">
      {{ product.metafields.custom.content_for_section_6 }}
    </div>
</div> 
{% endif %}

{% if product.metafields.custom.image_for_section_7 != blank or product.metafields.custom.content_for_section_7 != blank %}
<div id="bg-section-8"  class="bg_images_section full-height full-image-section">
 <div class="background-media-text__container_new">
    <img src=" {{ product.metafields.custom.image_for_section_7 | img_url:"master" }}"> 
   </div>
    <div class="background-media-text__inner_new">
      <div class="background-media-text__aligner background-media-text--left">
        <div class="animation-cropper">
          <div class="animation-contents">
         {{ product.metafields.custom.content_for_section_7}}
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}

{% if product.metafields.custom.image_for_section_8 != blank or product.metafields.custom.content_for_section_8 != blank %}
<div id="bg-section-8"  class="bg_images_section full-height full-image-section">
 <div class="background-media-text__container_new">
    <img src=" {{ product.metafields.custom.image_for_section_8 | img_url:"master" }}"> 
   </div>
    <div class="background-media-text__inner_new">
      <div class="background-media-text__aligner background-media-text--left">
        <div class="animation-cropper">
          <div class="animation-contents">
         {{ product.metafields.custom.content_for_section_8}}
          </div>
        </div>
      </div>
    </div>
</div>
{% endif %}  


  <div class="clear"></div>
  <div class="container page-width">
    <div class="clear"></div>
    <div class="section-meta-details">

      <ul
        class="nav nav-pills mb-3"
        id="pills-tab"
        role="tablist">
{% comment %}
         {% if product.description  != blank %}
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="pills-profile-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-profile"
              type="button"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false">DESCRIPTION</button>
          </li>
        {% endif %}
 
         {% if product.metafields.custom.lux_graph  != blank %}
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-contact-tab2"
              data-bs-toggle="pill"
              data-bs-target="#pills-contact2"
              type="button"
              role="tab"
              aria-controls="pills-contact2"
              aria-selected="false">LUX GRAPH</button>
          </li>
        {% endif %}
        
        {% if product.metafields.custom.what_s_include  != blank %}
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="pills-home-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-home"
              type="button"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true">SPECIFICATIONS & WHAT’S INCLUDED</button>
          </li>
        {% endif %}

         {% if product.metafields.custom.dimensions  != blank %}
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-contact-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-contact"
              type="button"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false">DIMENSIONS</button>
          </li>
       {% endif %}

        
         {% if product.metafields.custom.features  != blank %}
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-home-tab2"
              data-bs-toggle="pill"
              data-bs-target="#pills-home2"
              type="button"
              role="tab"
              aria-controls="pills-home2"
              aria-selected="true">FEATURES</button>
          </li>
         {% endif %}
        {% endcomment %}
{% comment %}
         {% if product.metafields.custom.specifications != blank %}
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-profile-tab2"
              data-bs-toggle="pill"
              data-bs-target="#pills-profile2"
              type="button"
              role="tab"
              aria-controls="pills-profile2"
              aria-selected="false">SPECIFICATIONS</button>
          </li>
        {% endif %}
{% endcomment %}

      </ul>

      <div class="tab-content" id="pills-tabContent">
{% comment %}
        {% if product.description  != blank %}
          <div
            class="tab-pane fade show active"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab">
            {{ product.description }}
          </div>
        {% endif %}

         {% if product.metafields.custom.lux_graph !=blank %}
          <div
            class="tab-pane fade"
            id="pills-contact2"
            role="tabpanel"
            aria-labelledby="pills-contact2-tab">
           {{ product.metafields.custom.lux_graph }}
          </div>
        {% endif %}
{% endcomment %}

        <!--  -->
        {% if product.metafields.custom.lux_graph !=blank %}
        <div class="page-width">
            <h1 style="text-align:center;">LUX GRAPH:</h1>
            <div class="luxgraph-content">
           {{ product.metafields.custom.lux_graph }}
            </div>
        </div>
          {% endif %}
        
         
            
          <div class="whatsinclude-and-specification page-width">
             {% if product.metafields.custom.specifications != blank %}
                          <div class="specification">
                            <h1>SPECIFICATIONS: </h1>
                           <div class="specification-content">
                            {{ product.metafields.custom.specifications }}
                          </div>
                          </div>
               {% endif %}

               {% if product.metafields.custom.what_s_include != blank %}
                   <div class="whatsinclude"> 
                      <h1>what's include:</h1>
                      <div class="whatsinclude-content">
                      {{ product.metafields.custom.what_s_include }}
                      </div>
                    </div>
                 {% endif %}
            
           {% if product.metafields.custom.features != blank %}
            <div class="features"> 
                  <h1>features:</h1>
                  <div class="features-content">
                  {{ product.metafields.custom.features }}
                </div>
            </div>
             {% endif %}

             {% if product.metafields.custom.dimensions != blank %}
               <div class="dimensions"> 
                 <h1>dimensions:</h1>
                   <div class="dimention-content">
                   {{ product.metafields.custom.dimensions }} 
                  </div>
               </div>
           {% endif %}
          </div> 

{% assign full_video_section = product.metafields.custom.url_for_viedo_section %}
  {% if full_video_section %}      
    <div class=" dpkv">
      <video id="Mp4Video-template--21341227647281__088e702b-4030-4340-b651-0064467392d5" class="" data-type="video/mp4" src="{{ full_video_section }}" loop="" muted="" playsinline="" autoplay=""></video>
    </div>   
{% endif %}     
        
        <!--  -->
          

        {% comment %}
        {% if product.metafields.custom.dimensions !=blank %}
          <div
            class="tab-pane fade"
            id="pills-contact"
            role="tabpanel"
            aria-labelledby="pills-contact-tab">
            {{ product.metafields.custom.dimensions }}
          </div>
          {% endif %}

       {% if product.metafields.custom.features !=blank %}
          <div
            class="tab-pane fade"
            id="pills-home2"
            role="tabpanel"
            aria-labelledby="pills-home2-tab">
            {{ product.metafields.custom.features }}
          </div>
        {% endif %}

      {% if product.metafields.custom.specifications !=blank %}
        <div
            class="tab-pane fade"
            id="pills-profile2"
            role="tabpanel"
            aria-labelledby="pills-profile2-tab">
              {{ product.metafields.custom.specifications }}
          </div>
        {% endif %}

      </div>
{% endcomment %}

      {% if product.metafields.product.pro_meta_header != blank %}
        <div class="meta_info_header text-center comm-heading">
          {{ product.metafields.product.pro_meta_header }}
        </div>
      {% endif %}

      {% if product.metafields.product.iframe_video != blank %}
        <p>
          <iframe
            class="custom-youtube"
            title="YouTube video player"
            src="{{ product.metafields.product.iframe_video }}"
            height="720"
            width="1280"
            allowfullscreen=""
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            frameborder="0"></iframe><br></p>
      {% endif %}

    </div>
  </div>


   {% if product.metafields.custom.youtube_video_link != blank %}
    <div class="container">
      <p>
        <iframe
          class="custom-tube"
          title="Video player"
          src="{{ product.metafields.custom.youtube_video_link }}"
          height="720"
          width="1280"
          allowfullscreen=""
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          frameborder="0"></iframe><br></p>
    </div>
  {% endif %}
</div>



{% if product.metafields.custom.faq_product != blank %}
     <div class="page-width faq-section page-width--narrow">
      <h2>Frequently Asked Questions</h2>
        {% assign faq = product.metafields.custom.faq_product.value %}
       {% for entry in faq %}     
           <div class="faq-item">
              <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ forloop.index }}">
                <span class="toggle__icon-alternate"><span class="toggle__icon--plus"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.05664 0.5H7.05664V13.5H6.05664V0.5Z" fill="white"></path><path d="M13.0566 6.5V7.5H0.0566406L0.0566407 6.5L13.0566 6.5Z" fill="white"></path></svg></span>
                  <span class="toggle__icon--minus" style="display: none;"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0566 6.5V7.5H0.0566406L0.0566407 6.5L13.0566 6.5Z" fill="white"></path></svg></span></span>
                <span>{{ entry.question }}</span>
              </button>
              <div id="FAQ-content-{{ forloop.index }}" class="collapsible-content collapsible-content--all">
                <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                  {{ entry.answer }}
                </div>
              </div>
            </div>
       {% endfor %}
      </div>
{% endif %}




  
  <div
class="yotpo yotpo-pictures-widget"
data-gallery-id="66b425e268633b0020d53a69"
data-product-id="{{ product.id }}" style="background-color: #fff;margin: 0;padding: 20px 0;">
</div>
  
<div class="container">
  <!-- <h2 class="yopto_heading">
    DON’T TAKE OUR WORD FOR IT!</h2> -->
  {% if product.metafields.yotpo.reviews_average != blank %}
    <h2 class="yopto_heading">{{ product.metafields.yotpo.reviews_average }}</h2>
  {% endif %}
  <div
    class="yotpo yotpo-main-widget"
    data-product-id="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&amp;','%26'}}"
    data-description="{{ product.description | escape }}"
    data-price="{{ variant.price | money_without_currency }}"
    data-currency="{{ shop.currency }}"></div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabButtons = document.querySelectorAll('.nav-link');
    const tabContents = document.querySelectorAll('.tab-pane');

    tabButtons.forEach(function (button, index) {
      button.addEventListener("click", function () {
      
        tabButtons.forEach(function (btn) {
          btn.classList.remove('active');
        });
        tabContents.forEach(function (content) {
          content.classList.remove('show', 'active');
        });

       
        button.classList.add('active');
        tabContents[index].classList.add('show', 'active');
      });
    });
  });
</script>


{% schema %}
{
  "name": "t:sections.main-product.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "seaprateimgtext_enable",
      "label": "Seaprate Image and text?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sku_enable",
      "label": "t:sections.main-product.settings.sku_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header_media"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-product.settings.content"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.main-product.settings.image_position.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-product.settings.image_position.options.left.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-product.settings.image_position.options.right.label"
        }, 
        {
            "value": "full",
            "label": "Full"
          }
      ]
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "t:sections.main-product.settings.image_size.label",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product.settings.image_size.options.small.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.image_size.options.medium.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product.settings.image_size.options.large.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_zoom_enable",
      "label": "t:sections.main-product.settings.product_zoom_enable.label",
      "default": true
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "t:sections.main-product.settings.thumbnail_position.label",
      "default": "beside",
      "options": [
        {
          "value": "beside",
          "label": "t:sections.main-product.settings.thumbnail_position.options.beside.label"
        },
        {
          "value": "below",
          "label": "t:sections.main-product.settings.thumbnail_position.options.below.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "thumbnail_height",
      "label": "t:sections.main-product.settings.thumbnail_height.label",
      "info": "t:sections.main-product.settings.thumbnail_height.info",
      "default": "flexible",
      "options": [
        {
          "value": "fixed",
          "label": "t:sections.main-product.settings.thumbnail_height.options.fixed.label"
        },
        {
          "value": "flexible",
          "label": "t:sections.main-product.settings.thumbnail_height.options.flexible.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "thumbnail_arrows",
      "label": "t:sections.main-product.settings.thumbnail_arrows.label"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "label": "t:sections.main-product.settings.mobile_layout.label",
      "default": "partial",
      "options": [
        {
          "value": "partial",
          "label": "t:sections.main-product.settings.mobile_layout.options.partial.label"
        },
        {
          "value": "full",
          "label": "t:sections.main-product.settings.mobile_layout.options.full.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.main-product.settings.enable_video_looping.label",
      "default": true
    },
    {
      "type": "select",
      "id": "product_video_style",
      "label": "t:sections.main-product.settings.product_video_style.label",
      "default": "muted",
      "options": [
        {
          "value": "muted",
          "label": "t:sections.main-product.settings.product_video_style.options.muted.label"
        },
        {
          "value": "unmuted",
          "label": "t:sections.main-product.settings.product_video_style.options.unmuted.label"
        }
      ],
      "info": "t:sections.main-product.settings.product_video_style.info"
    }
  ],
  "blocks": [{
  "type": "@app"
},
{
  "type": "price",
  "name": "t:product_block.price.name",
  "limit": 1
},
{
  "type": "quantity_selector",
  "name": "t:product_block.quantity_selector.name",
  "limit": 1
},
{
  "type": "complementary_products",
  "name": "Complementary products",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-complementary.settings.paragraph.content"
    },
    {
      "type": "text",
      "id": "product_complementary_heading",
      "label": "t:sections.product-complementary.settings.product_complementary_heading.label",
      "default": "Pairs well with"
    },
    {
      "type": "range",
      "id": "complementary_count",
      "label": "t:sections.product-complementary.settings.complementary_count.label",
      "default": 4,
      "min": 2,
      "max": 10,
      "step": 1
    },
    {
      "type": "range",
      "id": "per_slide",
      "label": "t:sections.product-complementary.settings.per_slide.label",
      "default": 2,
      "min": 2,
      "max": 4,
      "step": 1
    },
    {
      "type": "select",
      "id": "control_type",
      "label": "t:sections.product-complementary.settings.control_type.label",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.product-complementary.settings.control_type.options.dots.label"
        },
        {
          "value": "arrows",
          "label": "t:sections.product-complementary.settings.control_type.options.arrows.label"
        }
      ],
      "default": "dots"
    },
    {
      "type": "header",
      "content": "t:sections.product-complementary.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_style",
      "label": "t:sections.product-complementary.settings.image_style.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.product-complementary.settings.image_style.options.default.label"
        },
        {
          "value": "circle",
          "label": "t:sections.product-complementary.settings.image_style.options.circle.label"
        }
      ],
      "default": "default"
    }
  ]
},
{
  "type": "size_chart",
  "name": "t:product_block.size_chart.name",
  "limit": 1,
  "settings": [
    {
      "type": "page",
      "id": "size_chart",
      "label": "t:product_block.size_chart.settings.page.label"
    }
  ]
},
{
  "type": "variant_picker",
  "name": "Variant picker",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "variant_labels",
      "label": "t:product_block.variant_picker.settings.variant_labels.label",
      "default": true
    },
    {
      "type": "select",
      "id": "picker_type",
      "label": "t:product_block.variant_picker.settings.picker_type.label",
      "options": [
        {
          "value": "button",
          "label": "t:product_block.variant_picker.settings.picker_type.options.button.label"
        },
        {
          "value": "dropdown",
          "label": "t:product_block.variant_picker.settings.picker_type.options.dropdown.label"
        }
      ],
      "default": "button"
    },
    {
      "type": "checkbox",
      "id": "product_dynamic_variants_enable",
      "label": "t:product_block.variant_picker.settings.product_dynamic_variants_enable.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "color_swatches",
      "label": "Enable color swatches",
      "info": "Requires type to be set to 'Buttons'. [Learn how to set up swatches](https://archetypethemes.co/blogs/impulse/how-do-i-set-up-color-swatches)"
    }
  ]
},
{
  "type": "description",
  "name": "t:product_block.description.name",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "is_tab",
      "label": "t:product_block.description.settings.is_tab.label"
    }
  ]
},
{
  "type": "buy_buttons",
  "name": "t:product_block.buy_buttons.name",
  "limit": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_dynamic_checkout",
      "label": "t:product_block.buy_buttons.settings.show_dynamic_checkout.label",
      "info": "t:product_block.buy_buttons.settings.show_dynamic_checkout.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "surface_pickup_enable",
      "label": "t:product_block.buy_buttons.settings.surface_pickup_enable.label",
      "info": "t:product_block.buy_buttons.settings.surface_pickup_enable.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_gift_card_recipient",
      "default": false,
      "label": "t:common.gift_card.show_gift_card_recipient.label",
      "info": "t:common.gift_card.show_gift_card_recipient.info"
    }
  ]
},
{
  "type": "inventory_status",
  "name": "t:product_block.inventory_status.name",
  "limit": 1,
  "settings": [
    {
      "type": "range",
      "id": "inventory_threshold",
      "label": "t:product_block.inventory_status.settings.inventory_threshold.label",
      "default": 10,
      "min": 0,
      "max": 20,
      "step": 2
    },
    {
      "type": "checkbox",
      "id": "inventory_transfers_enable",
      "label": "t:product_block.inventory_status.settings.inventory_transfers_enable.label",
      "info": "t:product_block.inventory_status.settings.inventory_transfers_enable.info",
      "default": true
    }
  ]
},
{
  "type": "sales_point",
  "name": "t:product_block.sales_point.name",
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "t:product_block.sales_point.settings.icon.label",
      "default": "globe",
      "options": [
        {
          "value": "checkmark",
          "label": "t:product_block.sales_point.settings.icon.options.checkmark.label"
        },
        {
          "value": "gift",
          "label": "t:product_block.sales_point.settings.icon.options.gift.label"
        },
        {
          "value": "globe",
          "label": "t:product_block.sales_point.settings.icon.options.globe.label"
        },
        {
          "value": "heart",
          "label": "t:product_block.sales_point.settings.icon.options.heart.label"
        },
        {
          "value": "leaf",
          "label": "t:product_block.sales_point.settings.icon.options.leaf.label"
        },
        {
          "value": "lock",
          "label": "t:product_block.sales_point.settings.icon.options.lock.label"
        },
        {
          "value": "package",
          "label": "t:product_block.sales_point.settings.icon.options.package.label"
        },
        {
          "value": "phone",
          "label": "t:product_block.sales_point.settings.icon.options.phone.label"
        },
        {
          "value": "ribbon",
          "label": "t:product_block.sales_point.settings.icon.options.ribbon.label"
        },
        {
          "value": "shield",
          "label": "t:product_block.sales_point.settings.icon.options.shield.label"
        },
        {
          "value": "tag",
          "label": "t:product_block.sales_point.settings.icon.options.tag.label"
        },
        {
          "value": "truck",
          "label": "t:product_block.sales_point.settings.icon.options.truck.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:product_block.sales_point.settings.text.label",
      "default": "Free worldwide shipping"
    }
  ]
},
{
  "type": "text",
  "name": "t:product_block.text.name",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Text block",
      "label": "t:product_block.text.settings.text.label"
    }
  ]
},
{
  "type": "trust_badge",
  "name": "t:product_block.trust_badge.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "trust_image",
      "label": "t:product_block.trust_badge.settings.trust_image.label"
    }
  ]
},
{
  "type": "tab",
  "name": "t:product_block.tab.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:product_block.tab.settings.title.label",
      "default": "Shipping information"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:product_block.tab.settings.content.label",
      "default": "<p>Use collapsible tabs for more detailed information that will help customers make a purchasing decision.</p><p>Ex: Shipping and return policies, size guides, and other common questions.</p>"
    },
    {
      "type": "page",
      "id": "page",
      "label": "t:product_block.tab.settings.page.label"
    }
  ]
},
{
  "type": "share",
  "name": "t:product_block.share_on_social.name",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:product_block.share_on_social.settings.content"
    }
  ]
},
{
  "type": "separator",
  "name": "t:product_block.separator.name"
},
{
  "type": "contact",
  "name": "t:product_block.contact_form.name",
  "limit": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:product_block.contact_form.settings.content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:product_block.contact_form.settings.title.label",
      "default": "Ask a question"
    },
    {
      "type": "checkbox",
      "id": "phone",
      "label": "t:product_block.contact_form.settings.phone.label"
    }
  ]
},
{
  "type": "custom",
  "name": "t:product_block.html.name",
  "settings": [
    {
      "type": "liquid",
      "id": "code",
      "label": "t:product_block.html.settings.code.label",
      "default": "<h4>Custom code block</h4><p>Use this advanced section to add custom HTML, app scripts, or liquid.</p>",
      "info": "t:product_block.html.settings.code.info"
    }
  ]
}
]
}
{% endschema %}
